body {
  display: flex;
  height: 100vh;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(161, 141, 161, 0.877);
  color: white;
  text-align: center;
  padding: 30px;
  font-family: sans-serif;
  flex-wrap: wrap;
}

.header {
    display:flex;
    background-color: rgb(153, 0, 89);
    padding: 20px;
    margin: 5px;
    text-align:center;
    justify-content: center;
    border-radius: 10px;
    font-size: 30px;    

}


.article-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(32, 178, 117);
  margin: 5px;
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  flex-wrap: wrap;
}

.article {
  background-color: rgb(235, 2, 119);
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
}

.aside {
  background-color: rgb(55, 92, 160);
  padding: 20px;
  justify-content: center;
  display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 10px;
    font-size: 30px;
}

.footer {
    display: flex;
  background-color: rgb(255, 94, 0);
  padding: 20px;
  justify-content: center;
  margin: 5px;
  border-radius: 10px;
  font-size: 30px;
}
@media (min-width: 1280px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .main-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .header, .footer {
        width: grow;
        text-align: center;
    }

    .aside {
        display: flex;
        width: 9em;
        height: 10em;
        flex: grow;
    }
    .container {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .article-container {
        display: flex;
        width: 55em;
        height: 20em;
        flex-direction: column; /* Ensures articles stack */
    }
    .article {
        display: flex;
        height: 3em;
        text-align: center;
    }
}